@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primeira: #2C3639;
  --cor-segunda: #DCD7C9;
  --cor-terceira: #A27B5C;
  --cor-quarta: #3F4E4F;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primeira);
  color: var(--cor-segunda);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__link {
    display: flex;
    gap: 80px;
}

.cabecalho__link__menu {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terceira);
    text-decoration: none;
}

.titulo-destaque {
  color: var(--cor-terceira);
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}
/*width: 450px; 50%;/*615px;
height: 580px;*/
.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.botoes {
  /*background-color: #22D4FD;*/
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-terceira);
  width: 50%;/*378px;*/
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-segunda);
  font-family: var(--fonte-secundaria);
}

.perfil {
  width: 40%;
}

.botoes:hover {
  background-color: var(--cor-quarta);
}

.rodape {
  padding: 24px;
  color: var(--cor-primeira);
  background-color: var(--cor-terceira);
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__link {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }
}